//### Primary

$orange: hsl(31, 77%, 52%);
$cyan: hsl(184, 100%, 22%);
$vdcyan: hsl(179, 100%, 13%);

//### Neutral

$paragraph: hsla(0, 0%, 100%, 0.75);
$background: hsl(0, 0%, 95%);
$heading: hsl(0, 0%, 95%);
$button: hsl(0, 0%, 95%);