@import 'variables';
@import 'globals';


//Mobile View
    .container{
    display: flex;
    flex-direction: column;
    margin-block: 5.5em;
    margin-inline: 2em;
    border-radius: 10px;
    
    }

    .card{
        border-radius: 10px;
        overflow: hidden;
    }
    .col-1, .col-2, .col-3{
        padding: 3em;
    }

    p{
        color: $paragraph;
        margin-bottom: 2em;
    }

    button{
        border-radius: 50px;
        border: 1px white solid;
        padding-block: 13px;
        padding-inline: 33px;
        font-family: 'Lexend Deca', sans-serif;

    }

    button:hover{
        background-color: inherit;
        color: $heading;
    }

    .sedans{
        color: $orange;
    }
    .suvs{
        color: $cyan;
    }
    .luxury{
        color: $vdcyan;
    }

    h1{
        text-transform: uppercase;
        font-family: 'Big Shoulders Display', cursive;
        padding-block: 0.7em;
        color: $heading;
        font-size: 2.5em;
    }

    .col-1{
        background-color: $orange;
        // border-radius: 10px 10px 0 0;

    }

    .col-2{
        background-color: $cyan;
    }

    .col-3{
        background-color: $vdcyan;
        // border-radius: 0 0 10px 10px;
    }


//Desktop view   
@media (min-width:860px){

    

    .container{
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
        align-items: center;
        margin-block: 0em;
        margin-inline: 0em;
        
 
    }

    .card{
        display: flex;
        flex-direction: row;
        flex: 1;
        max-width: 1240px;
    }

    p{
        font-size: 1.56em;
        line-height: 1.9em;
        margin-bottom: 5em;
    }

    h1{
        font-size: 3.1em;
    }

    button{
        border-radius: 50px;
        border: 1px white solid;
        padding-block: 13px;
        padding-inline: 33px;
        font-family: 'Lexend Deca', sans-serif;
        width: 198px;
        height: 68px;
        font-size: 1.1em;
    }

}   