@import 'variables';
@import 'globals';


//Mobile View
    .container{
    display: flex;
    flex-direction: column;
    margin-block: 5.5em;
    margin-inline: 2em;
    border-radius: 10px;
    
    }

    .card{
        border-radius: 10px;
        overflow: hidden;
    }
    .col-1, .col-2, .col-3{
        padding: 3em;
    }

    p{
        color: $paragraph;
        margin-bottom: 2em;
    }

    button{
        border-radius: 50px;
        border: 1px white solid;
        padding-block: 13px;
        padding-inline: 33px;
        font-family: 'Lexend Deca', sans-serif;

    }

    button:hover{
        background-color: inherit;
        color: $heading;
    }

    .sedans{
        color: $orange;
    }
    .suvs{
        color: $cyan;
    }
    .luxury{
        color: $vdcyan;
    }

    h1{
        text-transform: uppercase;
        font-family: 'Big Shoulders Display', cursive;
        padding-block: 0.7em;
        color: $heading;
        font-size: 2.5em;
    }

    .col-1{
        background-color: $orange;
   

    }

    .col-2{
        background-color: $cyan;
    }

    .col-3{
        background-color: $vdcyan;
    
    }


//Desktop view   
@media (min-width:860px){

    

    .container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block: 0em;
        margin-inline: 0em;
        
 
    }

    .card{
        display: flex;
        flex-direction: row;
        flex: 1;
        max-width: 1040px;
        margin-top: 170px;
    }

    .col-1, .col-2, .col-3{
        padding: 3.3em;
    }

    p{
        font-size: 1.2em;
        line-height: 1.5;
        padding-bottom: 2.5em;
    }

    h1{
        font-size: 2em;
    }

    button{
        border-radius: 50px;
        border: 1px white solid;
        padding-block: 13px;
        padding-inline: 33px;
        font-family: 'Lexend Deca', sans-serif;
        width: 160px;
        height: 48px;
        font-size: 1em;
    }

}   